/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #0d1117, #161b22);
    color: #c9d1d9;
}

.card {
    background-color: #1c2128;
    border: 1px solid #30363d;
}

.btn-primary {
    background-color: #3b82f6;
    color: #fff;
    font-size: 0.875rem;
  
}

.btn-primary:hover {
    background-color: #2563eb;
}

.btn-disconnect {
    background-color: #f87171;
    color: #fff;
    font-size: 0.875rem;
    
}

.btn-disconnect:hover {
    background-color: #ef4444;
}
